.temp_wrapper {
    display: flex;
    justify-content: space-between;
}

.temp_text {
    font-weight: bold;
    font-size: 28px;
}
/* 
.current_weather_container {
    width: 40%;
} */

.city_text {
font-weight: bold;
font-size: 20px;
}

.icon_weather {
    fill: #fff;
}
.weather_data_list {
    display: flex;
    justify-content: space-between;
}

.weather_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}